<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - LiveDev</title>
    <link rel="stylesheet" href="../styles/empresa.css">
</head>
<body>
    <div class="login-container">
        <div class="logo">LiveDev</div>
        <h1>Informações da Empresa</h1>
        <h5>Preencha os dados da sua empresa para começar</h5>
        <form>
            <div class="input-group">
                <label for="email">EMAIL</label>
                <input type="email" name="email" id="email" required>
            </div>
            
            <div class="input-group">
                <label for="password">SENHA</label>
                <input type="password" name="senha" id="senha" required>
            </div>
            
            <button type="submit" class="login-button">Entrar</button>
            
            <div class="register-link">
                Ainda não tem uma conta?<br>
                <a href="#">Cadastre-se</a>
            </div>
        </form>
    </div>
</body>
</html>