<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tela da Live</title>
  <link rel="stylesheet" href="../styles/live.css" />
</head>
<body>

  <header>
    <h1>Python</h1>
    <div class="presenter">
      <div>
        <strong>Guanabara</strong><br />
      </div>
    </div>
  </header>

  <main class="live-container">
    <div class="live-video">
      <img src="../imgs/live_img.png" alt="Live" />
    </div>
    <div class="chat">
      <div class="chat-header">
        <h3>chat ao vivo <span class="live-icon">🔴</span></h3>
      </div>
      <div class="chat-body">
        <p><strong>Carlos Santos:</strong> Ótima explicação!</p>
      </div>
      <div class="chat-footer">
        <input type="text" placeholder="Enviar uma mensagem" />
        <button>Enviar</button>
      </div>
    </div>
  </main>

</body>
</html>
