body {
    font-family: Arial, sans-serif;
    background:linear-gradient(135deg,#0d47a1,#1976d2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    bottom: 600px;
    position: fixed;
    left: 0;
    padding: 50px;
    color: #aeaeae;
}