body {
    font-family: Arial, sans-serif;
    background:linear-gradient(135deg,#0d47a1,#1976d2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    bottom: 600px;
    position: fixed;
    left: 0;
    padding: 50px;
    color: #aeaeae;
}