body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f6fa;
}

.container {
  display: flex;
}

.sidebar {
  width: 220px;
  background: #f0f2f5;
  padding: 20px;
  min-height: 100vh;
}

.sidebar h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.sidebar .blue {
  color: #2a68ff;
}

.sidebar .black {
  color: black;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav li {
  margin: 15px 0;
}

.sidebar nav a {
  text-decoration: none;
  color: #333;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.top-bar input {
  padding: 8px;
  width: 200px;
}
.profile {
  text-align: right;
}

table {
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  border-collapse: separate;
  overflow: hidden;
  margin-bottom: 2rem;
}

th, td {
  border: none;
  padding: 1rem;
  text-align: left;
  border-radius: 5px;
}

th {
  background-color: #dbeafe;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  background-color: #2a68ff;
  height: 40px;
}

.btn-watch {
  background-color: #16a34a;
}

.btn-lembrar {
  background-color: #3b82f6;
}
